@use "../index"

.canvas
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.canvas-ctr
  width: 100%
  height: calc(100vh - 100px)
  display: flex
  flex-direction: column
  flex-grow: 1

.welcome
  position: absolute
  font-family: Neuton, serif

.tooltip
  align-self: flex-end
  position: fixed
  bottom: 0
  right: 15px