@use "../nav/nav"
$entry-width: 400px

.art-ctr
  display: flex
  flex-direction: row
  min-height: 100vh

  button
    display: flex
    flex-direction: column
    max-width: $entry-width
    margin: nav.$padding * 2
    &>div
      background: #282c34
    color: white
    padding: 0

.thumbnail
  width: $entry-width
  height: 400px
  object-fit: cover
  object-position: 0 0

.spacer
  background: #393984FF
  width: 33%
  flex-grow: 1

.titles
  font-family: Neuton, serif
  margin: 10px
  gap: 15px
  display: flex
  align-items: center

  >h1
    flex-grow: 3
    text-align: left

  >div
    flex-grow: 1
    text-align: center

  h4
    color: grey

.articles
  display: flex
  flex-grow: 4
  margin-top: 100px
  flex-direction: column
  align-items: center
  flex-wrap: wrap

.reader
  font-family: Neuton, serif
  border: 2px solid black
  &, > section
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  z-index: 9999
  width: 100vw
  min-height: 100vh
  background: rgba(0,0,0,0.5)
  > section
    margin-top: nav.$padding
    background: white
    color: black
    width: 50vw
    min-height: 75vh