@use "../nav/nav"
@use "../index"
$entry-width: 400px
.blog-box
  display: flex
  flex-direction: column

  .thumbnail
    height: 400px

.thumbnail
  max-width: $entry-width
  object-fit: cover
  object-position: 0 0

.spacer
  background: #393984FF
  flex-grow: 1

@media screen and (max-width: index.$phone)
  .spacer
    display: none

.titles
  font-family: Neuton, serif
  margin: 10px
  display: flex
  align-items: center

  >h1
    flex-grow: 3
    text-align: left

  >div
    flex-grow: 1
    text-align: center

  h4
    color: grey

.articles
  display: flex
  flex-grow: 3
  justify-content: center
  margin-top: 100px
  flex-wrap: wrap-reverse
  flex-direction: row-reverse

.art-ctr
  display: flex
  flex-direction: row
  min-height: 100vh

  ul
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-items: center

    li
      font-size: 20px

  button
    display: flex
    flex-direction: column
    max-width: $entry-width
    margin: nav.$padding * 2
    &>div
      background: #282c34
    color: white
    padding: 0