@use "nav"

.menu
  position: absolute
  z-index: 999
  &, ul
    display: flex
    flex-direction: column
    list-style: none
    button
      font-weight: bold
      text-decoration: underline
      font-size: 1rem
  background: nav.$menu
  color: white
  width: 25%
  height: calc(100vh - 100px)

  div
    padding: nav.$padding