@use "./nav";

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: nav.$menu;
  z-index: 10;
  color: white;
  width: 25%;
  height: 100vh;

  div {
    padding: nav.$padding;
  }
}