@use "../index"
$padding: 15px
$menu: #282c34

.menu-btn
  align-self: center
  display: flex
  flex-direction: column
  align-items: center
  font-size: 30px


// hide menu button and center links
@media screen and (max-width: index.$phone)
  .menu-btn
    display: none
    position: absolute

  .links
    justify-content: center

nav
  background-color: $menu
  padding: $padding
  display: flex
  align-items: center
  justify-content: center

  .name
    position: absolute
    left: 50%
    transform: translateX(-50%)
    h1
      margin: auto 0
      font-size: 40px



.links
  flex-grow: 1
  justify-content: flex-end
  align-items: center
  display: flex
  flex-wrap: wrap
  gap: 15px


.wave
  user-select: none
  pointer-events: none
  position: absolute
